#Azure Subscription Id
AZURE_SUBSCRIPTION_NAME = {AZURE_SUBSCRIPTION_NAME}
AZURE_LOCATION = {AZURE_LOCATION}

#SERVICEBUS configurations
SERVICEBUS_NAMESPACE = {SERVICEBUS_NAMESPACE}
SERVICEBUS_ENTITY_PATH = msgsamples
SERVICEBUS_FQDN_SUFFIX = servicebus.windows.net
SERVICEBUS_SEND_KEY = {SERVICEBUS_SEND_KEY}
SERVICEBUS_LISTEN_KEY = {SERVICEBUS_LISTEN_KEY}
SERVICEBUS_MANAGE_KEY = {SERVICEBUS_MANAGE_KEY}

